@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Geist:wght@100..900&family=Lunasima:wght@400;700&family=Metal&display=swap');
@media (max-width: 768px) {
    .info-panel{
        width: 100%;
    }
    .main-content, .sidebar{
        width: 100%;
    }

}

body{
    display: flex;
    margin: 0;
    font-family: "Lunasima", serif;


}

.info-panel{
    background:#9ea4ff;
    width: 30%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.top-panel{
    height: 65%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;

    
}

.name-panel{
    font-weight: 700;
    font-size: 2em;


}


.list-panel > ul > li > a{
    text-decoration: none;
}

.list-panel ul {
    list-style-type: none;
    padding: 0;
}

.list-panel li {
    margin: 10px 0;
}

main{
    background: rgb(240,39,94);
    background: linear-gradient(155deg, rgba(240,39,94,1) 15%, rgba(255,132,205,1) 35%, rgba(20,157,227,1) 75%, rgba(15,97,244,1) 92%);
    width: 65%;
    padding: 20px;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    
}

main > header{
    font-weight: 700;
    font-size: 1.05em;
    align-self: flex-start;

}

.cover > img{
    width: 90%;
    height: auto;
    max-width: 500px;
    aspect-ratio: 1 / 1.6 ;
    border-radius:100% 100% 0% 100% / 0% 100% 0% 100% ;

}

.content, .content-mirror{
    display: flex;
    margin: 3%;
}

.content-mirror{
    flex-direction: row-reverse;

}

.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    background: rgb(240,39,94);
    background: linear-gradient(320deg, rgba(240,39,94,1) 15%, rgba(255,132,205,1) 35%, rgba(20,157,227,1) 75%, rgba(15,97,244,1) 92%);
}

.cat-img > img{
    width: 45%;
    border-radius: 50%;
    margin-left: 30px;

}

.bottom-panel a {
    
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.bottom-panel a:hover {
    text-decoration: underline;
}

.bottom-panel{
    display: flex;
    margin: 10%;
}
